* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}

/* Edit Container Mulai */
.container {
  padding: 10px 3%;
}
/* Edit Container Selesai */

/* Edit Navbar Mulai */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px ;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 1.0s;
}

nav ul li a:hover::after {
  width: 100%;
}
/* Edit Navbar Selesai */

/* Edit Teks Header Mulai */
.teks-header {
  margin-top: 20%;
  font-size: 30px;
}

.teks-header h1 {
  font-size: 60px;
  margin-top: 20px;
}

.teks-header h2 {
  font-size: 40px;
  margin-top: 30px;
}

.teks-header h2 span {
  color: #ff004f;
}
/* Edit Teks Header Selesai */

/* Edit Tentang Saya Mulai */
#tentang-saya {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tentang-saya-col-1 {
  flex-basis: 30%;
}

.tentang-saya-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.tentang-saya-col-2 {
  flex-basis: 65%;
}

.tentang-saya-col-2 p {
  margin-top: 25px;
}

.sub-judul {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.tab-judul {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 1.0s;
}

.tab-links.link-aktif::after {
  width: 50%;
}

.tab-kontens ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-kontens ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-kontens {
  display: none;
}

.tab-kontens.tab-aktif {
  display: block;
}
/* Edit Tentang Saya Selesai */



